---
import { Icon } from 'astro-icon';
import projects from '~/contents/projects.json';
import Swiper from '../components/Swiper';
import Layout from '../layouts/Layout.astro';

---

<Layout title="Andriyani - Projects">
  <main class="pt-10 pb-5">
    <h2 class="font-semibold text-xl mb-4">Projects</h2>
    <ul role="list" class="grid grid-cols-1 gap-6">
      {projects.map(project => (
        <li class="ring-zinc-900/5 shadow-zinc-800/5 shadow-lg ring-1 rounded-lg flex flex-col md:flex-row items-center sm:items-start overflow-hidden">
          <div class="w-[300px] h-[187.5px] md:w-[400px] md:h-[250px] flex-shrink-0">
            <Swiper title={`Project ${project.title}`} images={project.images} client:visible />
          </div>
          <div class="p-4 bg-gray-50 w-full h-full">
            <h3 class="font-medium mb-2 text-lg">{project.title}</h3>
            <p class="text-gray-700 mb-4">{project.description}</p>
            <ul class="flex flex-wrap gap-2">
              {project.techs.map(tech => (
                <li class="flex items-center gap-4">
                  <span class="flex items-center justify-center shadow-lg shadow-zinc-800/5 rounded-full ring-1 ring-zinc-900/5 bg-zinc-100 py-1 px-2">
                    <Icon name={tech.icon} class="w-4 h-4 mr-1.5" />
                    <span class="text-gray-600 text-sm">{tech.name}</span>
                  </span>
                </li>
              ))}
            </ul>
          </div>
        </li>
      ))}
    </ul>
  </main>
</Layout>
