---
import { SEO } from 'astro-seo';
import clsx from 'clsx';
import Footer from '../components/Footer.astro';
export interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;

interface Nav {
	title: string;
	url: string;
}

const navs: Nav[] = [
	{
		title: 'Home',
		url: '/',
	},
	{
		title: 'Projects',
		url: '/projects',
	},
];

const pathname = new URL(Astro.request.url).pathname;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<SEO
			title={title}
			description={description}
			openGraph={{
				image: {
					alt: `Andriyani's Logo`,
				},
				optional: {
					description,
				},
				basic: {
					title,
					type: 'website',
					image: '/favicon.svg',
					url: Astro.url.href,
				},
			}}
		/>
	</head>
	<body class="max-w-4xl mx-auto px-6">
		<header class="flex justify-center py-8">
			<nav>
				<ul class="flex rounded-full px-4 py-2 text-sm font-medium text-zinc-800 shadow-lg shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur">
					{navs.map(nav => (
						<li>
							<a
								href={nav.url}
								class={clsx(
										'hover:text-primary-500 px-3 py-2 transition',
										pathname === nav.url && 'text-primary-500',
									)}
								>
								{nav.title}
							</a>
						</li>
					))}
				</ul>
			</nav>
		</header>
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	html {
		font-family: system-ui, sans-serif;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
